/*Modification projet*/

.filtres{
	display:flex;
	justify-content: center;
	margin-bottom: 40px;
	margin-top: 2em;
}

.filtres button{
	display: flex;
	border-radius: 60px;
	border:1px solid #1D6154;
	font-size: 16px;
	color: #1D6154;
	margin-right: 15px;
	padding :5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fffef8;
	font-weight: bold;
	font-family: 'Syne';

}

.filtres button:hover{
	background-color: #1D6154;
	color: #fffef8;
	cursor :pointer;
}
.filtres button.active {
	background-color: #1D6154;
	color:#fffef8
}

html{
	background-color:#fffef8;
}
footer {
	background-color:#ffffff;
	
}

footer nav ul {
	max-width: 1140px;
	margin: 2em auto;
	padding: 0 20px;
	padding: 15px;
}
	
#login {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 100px;
}

#login p{
	text-align: center;
	text-decoration: underline;
}

.container a{
	text-decoration: none;
	color: black;
	
}
.container a:hover{
	color: #B1663C;
}
#messageErreur{
	color: red;
	margin:10px 0 0 0
}

.btnModified button{
	border: none;
  background: none;
  cursor: pointer;
  
}
.btnModified i{
	padding-right:10px ;
	cursor: pointer;

}
.btnModified {
	display: none;
}

.projets{
	display: flex;
	align-items: center;
	justify-content:center;
	gap:20px;
}
.modeEdit{
	display: none;
	justify-content: center;
	padding: 10px;
	background-color: black;
	color: whitesmoke ;
	gap: 10px;
}

html {
	background-color: #ffffff;
}

